<?xml version="1.0" encoding="UTF-8"?>
<server xmlns="http://alko.pol-litra.ru/schema/SC" host="alko.local">
	<location>
		<path>/</path>
		<workers>1</workers>
		<port>9001</port>
	</location>
	<location>
		<path>/catalog</path>
		<workers>1</workers>
		<port>9002</port>
	</location>
	<location>
		<path>/catalog/category</path>
		<workers>1</workers>
		<port>9003</port>
	</location>
	<location>
		<path>/cart</path>
		<workers>1</workers>
		<port>9004</port>
	</location>
	<location>
		<path>/order</path>
		<workers>1</workers>
		<port>9005</port>
	</location>
	<location>
		<path>/admin/order</path>
		<workers>1</workers>
		<port>9006</port>
	</location>
	<location>
		<path>/admin/catalog/category</path>
		<workers>1</workers>
		<port>9007</port>
	</location>
	<location>
		<path>/admin/catalog</path>
		<workers>1</workers>
		<port>9008</port>
	</location>
	<location>
		<path>/admin/client</path>
		<workers>1</workers>
		<port>9010</port>
	</location>
	<location>
		<path>/client</path>
		<workers>1</workers>
		<port>9011</port>
	</location>
	<location>
		<path>/mobile/admin/manager</path>
		<workers>1</workers>
		<port>9012</port>
	</location>
	<location>
		<path>/mobile/admin/news</path>
		<workers>1</workers>
		<port>9013</port>
	</location>
	<location>
		<path>/mobile/news</path>
		<workers>1</workers>
		<port>9014</port>
	</location>
	<location>
		<path>/mobile/manager</path>
		<workers>1</workers>
		<port>9015</port>
	</location>
	<location>
		<path>/mobile/admin/firebase</path>
		<workers>1</workers>
		<port>9016</port>
	</location>
	<location>
		<path>/mobile/admin/tag</path>
		<workers>1</workers>
		<port>9017</port>
	</location>
</server>
